<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default invoice" id="invoice">
      <div class="panel-body">
        <div class="row">


          <!-- <div class="col-sm-6 top-right">
              <h3 class="marginright">Reservation N° {{idReservation}} </h3>
            </div> -->

        </div>
        <hr>


        <div class="row table-row">
          <table class="table table-striped">
            <thead>
            <tr>
              <th class="text-center" style="width:5%">Element</th>
              <th class="text-center" style="width:15%">Quantité</th>
              <th class="text-center" style="width:15%">Prix Unitaire</th>
              <th class="text-center" style="width:15%">Prix total</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let order of orders ">
              <td>{{order.product.name}}</td>
              <td class=" text-center">{{order.quantity}}</td>
              <td class=" text-center">{{order.product.price}}</td>
              <td class=" text-center">{{order.product.price * order.quantity}} DT</td>
            </tr>

            </tbody>
          </table>

        </div>

        <div class="row">


        </div>

      </div>
    </div>
  </div>
</div>

