<div class="content-body">

  <div class="container-fluid">
    <div class="row page-titles mx-0">
      <div class="col-sm-6 p-md-0">
        <div class="welcome-text">
          <h4>Importer une image</h4>
          <p class="mb-0">pour finaliser la creation</p>
        </div>
      </div>
      <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="javascript:void(0)">App</a></li>
          <li class="breadcrumb-item active"><a href="javascript:void(0)">Product Grid</a></li>
        </ol>
      </div>
    </div>


    <div class="row">
      <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
        <div class="card">
          <div class="card-body">
            <div class="new-arrival-product">
              <div class="new-arrivals-img-contnent">
                <img src="{{product.image}}" alt="">

              </div>


              <div class="new-arrival-content text-center mt-3">
                <h4><a style="font-size: 30PX;">{{product.name}}</a></h4>
                <a href="">{{product.description}}</a><br>
                <span class="price"> {{product.price}} DT</span>
                <br>
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label"></label>


                  <input type="file" class="form-control" placeholder="Ajouter une image"
                         (change)="onFileSelected($event)">


                </div>
                <button class="btn btn-primary mb-2"
                        style="margin-top: 10px; border-radius: 5px;" (click)="addImage()">Confirmer
                </button>


              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>

