<div class="footer">
  <div class="copyright">
    <p style="text-align: right">
      Copyright © Designed &amp; Developed by
      <a href="https://talan-academy.com/" target="_blank">Talan Academy</a>
      2022
    </p>
  </div>
</div>
