input[type="checkbox"] {
    color: red;
}

.drop-container {
    margin: 100px;
}

.action {
    margin-top: 10px;
}

.scroller {
    width: 500px;
    height: 130px;
    overflow-y: scroll;
    scrollbar-width: thin;
}
pre{
    font-size: 100px;
}