<!--**********************************
	Content body start
***********************************-->
<div class="content-body" style="margin-top: 50px; ">

  <div class="row page-titles mx-0">
    <div style="margin-left:30px;" class="col-sm-6 p-md-0">
      <div class="welcome-text">
        <h4>Ajouter un menu : </h4>
        <p class="mb-0"></p>
      </div>
    </div>
  </div>


  <form action="" [formGroup]="menuForm">

    <div class="container-fluid default-mt-btn default-mt-card">
      <div class="custom-control custom-checkbox mb-3 ">
        <label for="dateMenu" style="margin-right: 30px; font-size: 25px;" class="mb-2 text-black"> Date du menu :</label>
        <div style="width: 300px ;">
          <input class="form-control" type="date" min="{{date | date: 'yyyy-MM-dd' }}" id="dateMenu" name="dateMenu"
                 formControlName="dateMenu">
        </div>
      </div>
    </div>


    <!-- <div>
        <label for="" style="margin-right: 30px;">Selectionner les entrees que vous voulez ajouter au menu</label>
        <select multiple formControlName="listEntrees">
            <option value="" disabled selected>choisir une entree</option>
            <option *ngFor="let ent of entreesDispo" [ngValue]="ent.id">
                {{ ent.name }}
            </option>
        </select>
    </div>


    <div>
        <label for="" style="margin-right: 30px;">Selectionner les plats principales que vous voulez ajouter au
            menu</label>
        <select multiple formControlName="listPlats">
            <option value="" disabled selected>choisir une entree</option>
            <option *ngFor="let ent of platsDispo" [ngValue]="ent.id">
                {{ ent.name }}
            </option>
        </select>
    </div>



    <div>
        <label for="" style="margin-right: 30px;">Selectionner les desserts que vous voulez ajouter au menu</label>
        <select multiple formControlName="listDesserts">
            <option value="" disabled selected>choisir une entree</option>
            <option *ngFor="let ent of dessertDispo" [ngValue]="ent.id">
                {{ ent.name }}
            </option>
        </select>
    </div>



    <div>
        <label for="" style="margin-right: 30px;">Selectionner les garnitures que vous voulez ajouter au
            menu</label>
        <select multiple formControlName="listGarnitures">
            <option value="" disabled selected>choisir une entree</option>
            <option *ngFor="let ent of garnitureDispo" [ngValue]="ent.id">
                {{ ent.name }}
            </option>
        </select>
    </div> -->


    <div>

      <div class="container-fluid default-mt-btn default-mt-card">
        <div class="custom-control custom-checkbox mb-3">
          <label for="" style="margin-right: 30px; font-size: 25px;" class="mb-2 text-black">Selectionner les salades
            que vous
            voulez ajouter au menu :</label>
          <div class="scroller">
            <div *ngFor="let ent of entreesDispo" style="height: 45px;">
              <input type="checkbox" (change)="onChange(ent?.id, $any($event.target)?.checked)">
              {{ent.name}} (Quantité disponible : {{ent.quantity}})
              <button class="btn btn-success btn-xs" style="border-radius: 5px; font-size: 12px;padding: 0.1cm;"
                      routerLink="/admin/menu-item/{{ent.id}}">Editer
              </button>
            </div>
          </div>
        </div>
        <div class="custom-control custom-checkbox mb-3">
          <button class="btn btn-primary" style="border-radius: 5px;" (click)="goToAddProduct(1)">Ajouter une autre
            salade
          </button>
        </div>
      </div>


      <div class="container-fluid default-mt-btn default-mt-card">
        <div class="custom-control custom-checkbox mb-3">
          <label for="" style="margin-right: 30px; font-size: 25px;" class="mb-2 text-black">Selectionner les plats
            principaux que
            vous voulez ajouter au
            menu :</label>
          <div class="scroller">
            <div *ngFor="let p of platsDispo" style="height: 45px;">
              <input type="checkbox" (change)="onChange1(p?.id, $any($event.target)?.checked)"
                     name="vehicle1" value="Bike"> {{p.name}} (Quantité disponible : {{p.quantity}})
              <button class="btn btn-success btn-xs" style="border-radius: 5px; font-size: 12px;padding: 0.1cm;"
                      routerLink="/admin/menu-item/{{p.id}}">Editer
              </button>
            </div>
          </div>
        </div>
        <div class="custom-control custom-checkbox mb-3">
          <button class="btn btn-primary" style="border-radius: 5px;" (click)="goToAddProduct(2)">Ajouter un autre
            plat
          </button>
        </div>
      </div>


      <div class="container-fluid default-mt-btn default-mt-card">
        <div class="custom-control custom-checkbox mb-3">
          <label for="" style="margin-right: 30px; font-size: 25px;" class="mb-2 text-black">Selectionner les garnitures
            que vous
            voulez ajouter au menu :</label>
          <div class="scroller">
            <div *ngFor="let d of garnitureDispo" style="height: 45px;">
              <input type="checkbox" (change)="onChange2(d?.id, $any($event.target)?.checked)"
                     value="d.id">
              {{d.name}} (Quantité disponible : {{d.quantity}})
              <button class="btn btn-success btn-xs" style="border-radius: 5px; font-size: 12px;padding: 0.1cm;"
                      routerLink="/admin/menu-item/{{d.id}}">Editer
              </button>
            </div>
          </div>
        </div>
        <div class="custom-control custom-checkbox mb-3">
          <button class="btn btn-primary" style="border-radius: 5px;" (click)="goToAddProduct(3)">Ajouter une autre
            garniture
          </button>
        </div>
      </div>


      <div class="container-fluid default-mt-btn default-mt-card">
        <div class="custom-control custom-checkbox mb-3">
          <label for="" style="margin-right: 30px; font-size: 25px;" class="mb-2 text-black">Selectionner les desserts
            que vous
            voulez ajouter au
            menu :</label>
          <div class="scroller">
            <div *ngFor="let g of dessertDispo" style="height: 45px;">
              <input type="checkbox" (change)="onChange3(g?.id, $any($event.target)?.checked)"
                     value="r.id">
              {{g.name}} (Quantité disponible : {{g.quantity}})
              <button class="btn btn-success btn-xs" style="border-radius: 5px; font-size: 12px;padding: 0.1cm;"
                      routerLink="/admin/menu-item/{{g.id}}">Editer
              </button>
            </div>
          </div>
        </div>
        <div class="custom-control custom-checkbox mb-3">
          <button class="btn btn-primary" style="border-radius: 5px;" (click)="goToAddProduct(4)">Ajouter un autre
            dessert
          </button>
        </div>
      </div>


    </div>


    <div class="container-fluid default-mt-btn default-mt-card">
      <div class="row justify-content-center">
        <button class="btn btn-primary" style="border-radius: 5px;" [disabled]="menuForm.invalid" (click)="addMenu()">
          Valider-Menu
        </button>
      </div>
    </div>


  </form>

</div>

<!--**********************************
	Content body end
***********************************-->
