<div class="stat">
  <p>Total des revenus journaliers:</p>
  <apx-chart
    [series]="chartOptions.series"
    [chart]="chartOptions.chart"
    [dataLabels]="chartOptions.dataLabels"
    [plotOptions]="chartOptions.plotOptions"
    [yaxis]="chartOptions.yaxis"
    [xaxis]="chartOptions.xaxis"
    [fill]="chartOptions.fill"
    [title]="chartOptions.title"
  ></apx-chart>
</div>

<div class="stat">
    <p>Total des revenus par mois de l'année actuelle:</p>
  <apx-chart
    [series]="chartOptions2.series"
    [chart]="chartOptions2.chart"
    [dataLabels]="chartOptions2.dataLabels"
    [plotOptions]="chartOptions2.plotOptions"
    [yaxis]="chartOptions2.yaxis"
    [xaxis]="chartOptions2.xaxis"
    [fill]="chartOptions2.fill"
    [title]="chartOptions2.title"
  ></apx-chart>
</div>

<div class="stat">
    <p>Total des revenus par an:</p>
  <apx-chart
    [series]="chartOptions3.series"
    [chart]="chartOptions3.chart"
    [dataLabels]="chartOptions3.dataLabels"
    [plotOptions]="chartOptions3.plotOptions"
    [yaxis]="chartOptions3.yaxis"
    [xaxis]="chartOptions3.xaxis"
    [fill]="chartOptions3.fill"
    [title]="chartOptions3.title"
  ></apx-chart>
</div>

<div class="stat">
    <p>mesure de la fidélisation du client selon le total d'achat</p>
  <apx-chart
    [series]="chartOptions4.series"
    [chart]="chartOptions4.chart"
    [dataLabels]="chartOptions4.dataLabels"
    [plotOptions]="chartOptions4.plotOptions"
    [xaxis]="chartOptions4.xaxis"
  ></apx-chart>
</div>
