.citation {
  max-height: 7rem;
  margin: auto !important;
}
.demo-section {
}
::ng-deep.mat-menu-panel {
  max-width: none !important;
}

.notiSeen {
  background-color: rgb(227, 243, 250);
}

mat-icon {
  transform: scale(1.3);

  cursor: pointer;
}

.notifications-admin {
  position: fixed;
  right: 23%;
  top: 6.5vh;
}

.notifications-user {
  position: fixed;
  right: 18%;
  top: 6.5vh;
}

mat-menu {
  width: 800px;
}

@media only screen and (max-width: 1350px) {
  .citation {
    display: none;
  }
}
