<!--**********************************
    Chat box start
***********************************-->
<div class="header">
  <div class="header-content">
    <nav class="navbar navbar-expand">
      <div class="collapse navbar-collapse justify-content-between">
        <div class="header-left">
          <div class="dashboard_bar" *ngIf="role == 'ADMIN'">
            Tableau de bord
          </div>

          <div class="demo-section">
            <mat-icon
              *ngIf="role == 'ADMIN'"
              [matMenuTriggerFor]="menu"
              class="notifications-admin"
              matBadgeSize="medium"
              aria-label="Example icon-button with a menu"
              mat-raised-button
              matBadge="{{ notSeenAdmin }}"
              [matBadgeHidden]="hidden"
              (click)="clearNotifications()"
              matBadgePosition="before"
              >notifications</mat-icon
            >
            <mat-icon
              *ngIf="role == 'USER'"
              [matMenuTriggerFor]="menu"
              class="notifications-user"
              aria-label="Example icon-button with a menu"
              matBadgeSize="medium"
              mat-raised-button
              matBadge="{{ notSeenUser }}"
              [matBadgeHidden]="hidden"
              (click)="clearNotifications()"
              matBadgePosition="before"
              >notifications</mat-icon
            >
            <mat-menu #menu="matMenu">
              <div *ngIf="role == 'ADMIN'">
                <button
                  style="width: 360px; margin-top: 2px"
                  [ngClass]="{ notiSeen: reservation.seen === false }"
                  (click)="isSeen(reservation)"
                  mat-menu-item
                  *ngFor="let reservation of reservationsNotSeen"
                >
                  {{ reservation.user.firstName }}
                  {{ reservation.user.lastName }} a créé une réservation le
                  <strong>{{ reservation.date | date : " dd/MM/YY " }}</strong>
                </button>
              </div>
              <div *ngIf="role == 'USER'">
                <button
                  style="width: 360px; margin-top: 2px"
                  [ngClass]="{ notiSeen: subscription.seen === false }"
                  (click)="isSeenUser(subscription)"
                  mat-menu-item
                  *ngFor="let subscription of subscriptions"
                >
                  Vous pouvez réserver {{ subscription.product.name }} le
                  <strong>{{
                    subscription.menuDate | date : " dd/MM/YY "
                  }}</strong>
                </button>
              </div>
            </mat-menu>
          </div>
        </div>

        <img
          class="citation"
          src="assets/images/background/cit.jpg"
          *ngIf="role != 'ADMIN'"
        />
        <ul class="navbar-nav header-right">
          <li
            class="nav-item dropdown notification_dropdown dropdown-no-icon"
            ngbDropdown
          ></li>
          <li *ngIf="!isUserLogged" class="nav-item">
            <button
              mat-flat-button
              [routerLink]="['/page-login']"
              color="primary"
            >
              Se connecter
            </button>
          </li>
          <li *ngIf="!isUserLogged" class="nav-item">
            <button
              mat-flat-button
              [routerLink]="['/page-register']"
              color="primary"
            >
              S'inscrire
            </button>
          </li>
          <li
            *ngIf="isUserLogged"
            class="nav-item dropdown header-profile dropdown-no-icon"
            ngbDropdown
          >
            <a
              class="nav-link"
              href="javascript:void(0);"
              role="button"
              data-toggle="dropdown"
              ngbDropdownToggle
            >
              <img
                *ngIf="role == 'ADMIN'"
                src="../../../assets/images/profile/pic1.jpg"
                width="20"
                alt=""
              />
              <img
                *ngIf="role == 'USER'"
                src="../../../assets/images/profile/profile.png"
                width="20"
                alt=""
              />
              <div class="header-info">
                <span class="fs-20 font-w500">{{
                  loggedUser | titlecase
                }}</span>
                <small *ngIf="role == 'ADMIN'">Super Admin</small>
              </div>
            </a>
            <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
              <a
                (click)="logout()"
                [routerLink]="['/page-login']"
                class="dropdown-item ai-icon"
              >
                <svg
                  id="icon-logout"
                  xmlns="http://www.w3.org/2000/svg"
                  class="text-danger"
                  width="18"
                  height="18"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path>
                  <polyline points="16 17 21 12 16 7"></polyline>
                  <line x1="21" y1="12" x2="9" y2="12"></line>
                </svg>
                <span class="ml-2">Se déconnecter </span>
              </a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
