<div id="stat">
  <p>Total des réservations par jour:</p>
  <apx-chart
    [series]="chartOptions.series"
    [chart]="chartOptions.chart"
    [xaxis]="chartOptions.xaxis"
    [dataLabels]="chartOptions.dataLabels"
    [grid]="chartOptions.grid"
    [stroke]="chartOptions.stroke"
    [title]="chartOptions.title"
    [markers]="chartOptions.markers"
    [yaxis]="chartOptions.yaxis"
    [fill]="chartOptions.fill"
  ></apx-chart>
</div>

<div id="stat">
  <p>Total des réservations par mois de l'année actuelle:</p>
  <apx-chart
    [series]="chartOptions2.series"
    [chart]="chartOptions2.chart"
    [xaxis]="chartOptions2.xaxis"
    [dataLabels]="chartOptions2.dataLabels"
    [grid]="chartOptions2.grid"
    [stroke]="chartOptions2.stroke"
    [title]="chartOptions2.title"
    [markers]="chartOptions2.markers"
    [yaxis]="chartOptions2.yaxis"
    [fill]="chartOptions2.fill"
  ></apx-chart>
</div>
<div id="stat">
  <p>Total des réservations par an:</p>
  <apx-chart
    [series]="chartOptions3.series"
    [chart]="chartOptions3.chart"
    [xaxis]="chartOptions3.xaxis"
    [dataLabels]="chartOptions3.dataLabels"
    [grid]="chartOptions3.grid"
    [stroke]="chartOptions3.stroke"
    [title]="chartOptions3.title"
    [markers]="chartOptions3.markers"
    [yaxis]="chartOptions3.yaxis"
    [fill]="chartOptions3.fill"
  ></apx-chart>
</div>
<div id="stat">
  <p>Pourcentage de vente par produit:</p>
  <apx-chart
    [series]="chartOptionsD.series"
    [chart]="chartOptionsD.chart"
    [labels]="chartOptionsD.labels"
    [responsive]="chartOptionsD.responsive"
    [legend]="chartOptionsD.legend"
  ></apx-chart>
</div>
