<div class="content-body">
  <div class="container-fluid">
    <div class="row page-titles mx-0">
      <div class="col-sm-6 p-md-0">
        <div class="welcome-text">
          <h4>Réservation des produits</h4>

        </div>
      </div>
      <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="javascript:void(0)">Talan Food</a></li>
          <li class="breadcrumb-item active"><a href="javascript:void(0)">Réservation des produits</a></li>
          <br>

        </ol>
      </div>

      <div class="card-body">

        <div class="basic-form">


          <div class="input-group mb-3">

            <input type="date" class="form-control" min="{{date | date: 'yyyy-MM-dd' }}" style="font-size: 0.5cm ;"
                   (change)="changeReservationDate($event)">

            <div class="input-group-append">

              <button class="btn btn-primary" type="button"
                      [disabled]="reservationDate==null || orders.length==0 || !permitAddProduct|| canOrder !=true"
                      (click)="createReservation()">Réserver
              </button>

            </div>

          </div>


        </div>

      </div>


    </div>

    <div class="row">
      <app-order-product-card *ngFor="let product of products " [product]="product" style="justify-content: row;"
                              (quantityEvent)="addOrder($event)"
                              [hidden]="product.category.id!=5 || product.quantity==0">
      </app-order-product-card>
    </div>
  </div>
</div>
