<div
  class="col-xl-3 col-lg-4 col-md-6 col-sm-6"
  style="max-width: 27rem !important"
>
  <div class="card">
    <div class="card-body" style="padding: inherit !important">
      <img
        src="../../../assets/images/Tic.jpg"
        height="28cm"
        alt=""
        *ngIf="quantity > 0"
        style="position: absolute; z-index: 1"
      />
      <div class="new-arrival-product">
        <div class="new-arrivals-img-contnent">
          <img
            class="img-thumbnail myimg"
            src="{{ product.image }}"
            style="cursor: pointer"
            alt=""
            (click)="showDetails(product.id)"
          />
        </div>
        <div
          class="new-arrival-content text-center mt-3 d-flex justify-content-around"
        >
          <br />
          <div>
            <h3 (click)="showDetails(product.id)" style="cursor: pointer">
              <a routerLink="/"></a>{{ product.name }}
            </h3>
            <span class="price" style="font-size: 20px"
              >{{ product.price }} DT</span
            >
            <div class="comment-review star-rating">
              <ul>
                <li><i class="fa fa-star" *ngIf="rating >= 1"></i></li>
                <li>
                  <i
                    class="fa fa-star-half-empty"
                    *ngIf="rating > 0.5 && rating < 1"
                  ></i>
                </li>
                <li><i class="fa fa-star" *ngIf="rating >= 2"></i></li>
                <li>
                  <i
                    class="fa fa-star-half-empty"
                    *ngIf="rating > 1.5 && rating < 2"
                  ></i>
                </li>
                <li><i class="fa fa-star" *ngIf="rating >= 3"></i></li>
                <li>
                  <i
                    class="fa fa-star-half-empty"
                    *ngIf="rating > 2.5 && rating < 3"
                  ></i>
                </li>
                <li><i class="fa fa-star" *ngIf="rating >= 4"></i></li>
                <li>
                  <i
                    class="fa fa-star-half-empty"
                    *ngIf="rating > 3.5 && rating < 4"
                  ></i>
                </li>
                <li><i class="fa fa-star" *ngIf="rating >= 5"></i></li>
                <li>
                  <i
                    class="fa fa-star-half-empty"
                    *ngIf="rating > 4.5 && rating < 5"
                  ></i>
                </li>
              </ul>
            </div>
          </div>
          <div style="align-items: center; display: flex; margin-right: 0.3cm">
            <button
              class="note"
              [disabled]="!isUserLoggedIn"
              mat-mini-fab
              color="primary"
              (click)="removeQuantity()"
            >
              -1
            </button>
            <button
              disabled
              mat-mini-fab
              color="primary"
              style="margin: 0 4px; color: black"
            >
              {{ quantity }}
            </button>
            <button
              [disabled]="!isUserLoggedIn"
              mat-mini-fab
              color="primary"
              *ngIf="quantity < product.quantity"
              (click)="addQuantity()"
            >
              +1
            </button>
            <button
              mat-mini-fab
              color="warn"
              *ngIf="quantity == product.quantity"
            >
              <small>Max</small>
            </button>
          </div>
          <button
            mat-flat-button
            color="primary"
            style="
              margin-right: 5px;
              width: 120px;
              height: 50px;
              margin-top: 25px;
            "
            [disabled]="!isUserLoggedIn"
            (click)="open(reviewModal, product)"
            *ngIf="display"
          >
            Noter le produit
          </button>
          <ng-template #reviewModal let-modal>
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">
                Donner une note
              </h4>
              <button
                type="button"
                class="close"
                aria-label="Close"
                (click)="modal.dismiss('Cross click')"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form [formGroup]="rateProductForm">
                <div class="form-group">
                  <div class="rating mb-4 text-center">
                    <!-- Rating Stars Box -->

                    <ngb-rating
                      [max]="5"
                      style="height: 1cm; font-size: 2cm; margin-bottom: 2cm"
                      formControlName="value"
                    ></ngb-rating>
                    <br />
                    <button
                      mat-flat-button
                      color="primary"
                      (click)="rateProduct()"
                      (click)="modal.dismiss('Cross click')"
                    >
                      Noter!
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
