td{
text-align: center 
}

th{
    text-align: center;
    color: black; 
    
  
}

.parent {
   
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 2cm;
    }
    
