<div class="content-body">
  <div class="container-fluid" style="width: 80%;">
    <div class="row page-titles mx-0">
      <div class="col-sm-6 p-md-0">
        <div class="welcome-text">
          <h4>Mes réservations</h4>
        </div>
      </div>
      <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="javascript:void(0)">Talan Food</a></li>
          <li class="breadcrumb-item active"><a href="javascript:void(0)">Mes réservations</a></li>
        </ol>
      </div>
    </div>

    <br>


    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-responsive-lg mb-0 table-striped">
                <thead>
                <tr>

                  <th class=" text-center">N° réservation</th>
                  <th class=" text-center">Date réservation</th>
                  <th class=" text-center">Total</th>
                  <th class=" text-center">Détails</th>
                  <th class=" text-center" style="text-align: center ;">Annulation</th>

                </tr>
                </thead>
                <tbody id="customers">
                <tr class="btn-reveal-trigger" *ngFor="let reserv of reservation">

                  <td class="py-3  text-center">
                    <a href="javascript:void(0);">
                      <div class="media d-flex align-items-center">
                        <div class="avatar avatar-xl mr-2">
                          <div class=""><img class="rounded-circle img-fluid"
                                             src="../../../../../assets/images/avatar/14.png" width="30" alt=""/>
                          </div>
                        </div>
                        <div class="media-body">
                          <h5 class="mb-0 fs--1">{{reserv.id}}</h5>
                        </div>
                      </div>
                    </a>
                  </td>
                  <td class="py-2  text-center" style="font-style: italic ; color: black;"><a>{{reserv.date}}</a></td>
                  <td class="py-2 text-center" style="font-style: italic ; color: black;">{{reserv.price}}  DT</td>

                  <td class="py-2  text-center">
                    <button type="button" class="btn tp-btn-light btn-info" style="color:rgb(18, 123, 162) ;"
                            (click)="showReservationDetails(reserv.id)">Voir
                    </button>
                  </td>

                  <td class="py-2 text-center " style="text-align: center ;">
                    <button type="button" class="btn tp-btn btn-primary" style="color:rgb(18, 123, 162) ;"
                            [disabled]="reserv.date < myDate" (click)="annulerReservation(reserv.id)">Annuler
                    </button>

                    <!-- <button type="button" class="btn tp-btn-light btn-info"  style="color:rgb(18, 123, 162) ;" [disabled]="reserv.date < myDate" (click)="annulerReservation(reserv.id)">Annuler reservation</button> -->
                  </td>
                </tr>
                </tbody>
              </table>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div style="width:100%  ;" class="parent">
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      <li class="page-item" *ngFor="let p of pagesTab ;let i = index" (click)="getAllResrvationByUserId(userId,i)"><a class="page-link" >{{i}}</a></li>
      <li class="page-item">
        <a class="page-link"  aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ul>
  </nav>
</div>

<!--**********************************
	Content body end
***********************************-->

