<div
  class="col-xl-3 col-lg-4 col-md-6 col-sm-6"
  style="max-width: 27rem !important"
>
  <div class="card">
    <div class="card-body" style="padding: inherit !important">
      <div class="new-arrival-product">
        <div class="new-arrivals-img-contnent">
          <img
            style="cursor: pointer"
            routerLink="/products/{{ item.id }}"
            class="img-thumbnail myimg"
            [src]="item.image"
            alt=""
          />
        </div>
        <div
          class="new-arrival-content text-center mt-3 d-flex justify-content-around"
        >
          <div>
            <h3 style="cursor: pointer" routerLink="/products/{{ item.id }}">
              {{ item.name }}
            </h3>

            <span>
              <mat-icon
                [ngClass]="subscribe ? 'isSubscribed' : 'notSubscribed'"
                *ngIf="role === 'USER'"
                (click)="changeSubscriptionStatus()"
                >notifications</mat-icon
              ></span
            >
            <span class="price" style="font-size: 17px; margin-left: 30px"
              >Prix : {{ item.price }} DT</span
            >
          </div>
          <div style="align-items: center; display: flex">
            <button
              [disabled]="!isUserLoggedIn"
              mat-mini-fab
              color="primary"
              (click)="onDecrement(item.id, item.price)"
            >
              -1
            </button>
            <button
              disabled
              mat-mini-fab
              color="primary"
              style="margin: 0 7px; color: black"
            >
              {{ quantity }}
            </button>
            <button
              [disabled]="!isUserLoggedIn"
              mat-mini-fab
              color="primary"
              *ngIf="quantity < item.quantity"
              (click)="onIncrement(item.id, item.price)"
            >
              +1
            </button>
            <button mat-mini-fab color="warn" *ngIf="quantity == item.quantity">
              <small>Max</small>
            </button>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>
