.myimg {
  height: 350px;
  object-fit: cover;
  width: 27rem !important;
}

.isSubscribed {
  color: rgb(45, 150, 177);
}
.notSubscribed {
  color: rgb(203, 202, 202);
}
mat-icon {
  transform: scale(1.2);

  cursor: pointer;
}
.price-subscribe {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
