<div class="content-body">
  <!-- row -->
  <div class="container-fluid">
    <div class="row page-titles mx-0">
      <div class="col-sm-6 p-md-0">
        <div class="welcome-text">
          <h4>Gestion des intéractions</h4>
        </div>
      </div>
      <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="javascript:void(0)">Talan Food</a>
          </li>
          <li class="breadcrumb-item active">
            <a href="javascript:void(0)">Gestion des intéractions</a>
          </li>
        </ol>
      </div>
    </div>

    <div class="container-fluid" style="width: 80%">
      <div class="row">
        <div class="col-xl-12">
          <div class="card bg-transparent shadow-none">
            <div
              class="card-header flex-wrap border-0 p-0 justify-content-start"
            >
              <div class="table-tabs mr-2 mb-3 mr-auto">
                <ul class="nav nav-tabs" ngbNav #nav="ngbNav" role="tablist">
                  <li class="nav-item" ngbNavItem="AllStatus">
                    <a
                      class="nav-link"
                      data-toggle="tab"
                      href="#AllStatus"
                      aria-expanded="false"
                      ngbNavLink
                    >
                      Réclamations
                    </a>
                    <ng-template ngbNavContent>
                      <div class="tab-pane fade active show" id="AllStatus">
                        <div class="table-responsive rounded table-hover">
                          <table
                            class="table text-black card-table dataTable mb-4 table-responsive-lg dataTablesCard"
                            id="dataTable1"
                          >
                            <br />
                            <thead class="bg-primary">
                              <tr>
                                <th>N° Reclamation</th>
                                <th>Client</th>
                                <th>Description</th>
                                <th style="text-transform: inherit">
                                  Note du service
                                </th>
                                <th>Actions</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr
                                class="alert alert-dismissible border-0"
                                *ngFor="let rec of reclamations"
                              >
                                <td>{{ rec.id }}</td>
                                <td>
                                  {{ rec.user.firstName }}
                                  {{ rec.user.lastName }}
                                </td>
                                <td>{{ rec.description }}</td>
                                <td>
                                  <div class="comment-review star-rating">
                                    <ul>
                                      <li>
                                        <i
                                          class="fa fa-star"
                                          *ngIf="rec.value >= 1"
                                        ></i>
                                      </li>
                                      <li>
                                        <i
                                          class="fa fa-star-half-empty"
                                          *ngIf="
                                            rec.value > 0.5 && rec.value < 1
                                          "
                                        ></i>
                                      </li>
                                      <li>
                                        <i
                                          class="fa fa-star"
                                          *ngIf="rec.value >= 2"
                                        ></i>
                                      </li>
                                      <li>
                                        <i
                                          class="fa fa-star-half-empty"
                                          *ngIf="
                                            rec.value > 1.5 && rec.value < 2
                                          "
                                        ></i>
                                      </li>
                                      <li>
                                        <i
                                          class="fa fa-star"
                                          *ngIf="rec.value >= 3"
                                        ></i>
                                      </li>
                                      <li>
                                        <i
                                          class="fa fa-star-half-empty"
                                          *ngIf="
                                            rec.value > 2.5 && rec.value < 3
                                          "
                                        ></i>
                                      </li>
                                      <li>
                                        <i
                                          class="fa fa-star"
                                          *ngIf="rec.value >= 4"
                                        ></i>
                                      </li>
                                      <li>
                                        <i
                                          class="fa fa-star-half-empty"
                                          *ngIf="
                                            rec.value > 3.5 && rec.value < 4
                                          "
                                        ></i>
                                      </li>
                                      <li>
                                        <i
                                          class="fa fa-star"
                                          *ngIf="rec.value >= 5"
                                        ></i>
                                      </li>
                                      <li>
                                        <i
                                          class="fa fa-star-half-empty"
                                          *ngIf="
                                            rec.value > 4.5 && rec.value < 5
                                          "
                                        ></i>
                                      </li>
                                    </ul>
                                  </div>
                                </td>

                                <td class="py-2">
                                  <button
                                    type="button"
                                    class="btn tp-btn-light btn-info"
                                    style="color: rgb(18, 123, 162)"
                                    (click)="answerClient(rec.id)"
                                  >
                                    Repondre
                                  </button>

                                  <button
                                    type="button"
                                    class="btn tp-btn btn-primary"
                                    style="color: rgb(18, 123, 162)"
                                    (click)="deleteInterction(rec.id)"
                                  >
                                    Supprimer
                                  </button>

                                  <!-- <button type="button" class="btn tp-btn-light btn-info"  style="color:rgb(18, 123, 162) ;" [disabled]="reserv.date < myDate" (click)="annulerReservation(reserv.id)">Annuler reservation</button> -->
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </ng-template>
                  </li>
                  <li class="nav-item" ngbNavItem="NewOrder">
                    <a
                      class="nav-link"
                      data-toggle="tab"
                      href="#NewOrder"
                      aria-expanded="false"
                      ngbNavLink
                    >
                      Propositions
                    </a>
                    <ng-template ngbNavContent>
                      <div class="tab-pane" id="NewOrder">
                        <div class="table-responsive rounded table-hover">
                          <table
                            class="table text-black card-table dataTable mb-4 table-responsive-lg dataTablesCard"
                            id="dataTable2"
                          >
                            <thead class="bg-primary">
                              <tr>
                                <th>N° Suggestion</th>
                                <th>Nom client</th>
                                <th>Prenom client</th>
                                <th>Prduit proposé</th>
                                <th>Actions</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr
                                class="alert alert-dismissible border-0"
                                *ngFor="let sugg of suggestion"
                              >
                                <td>{{ sugg.id }}</td>
                                <td>{{ sugg.user.firstName }}</td>
                                <td>{{ sugg.user.lastName }}</td>
                                <td>{{ sugg.description }}</td>

                                <td class="py-2">
                                  <button
                                    type="button"
                                    class="btn tp-btn-light btn-info"
                                    style="color: rgb(18, 123, 162)"
                                    (click)="answerToSuggesion(sugg.id)"
                                  >
                                    Accepter
                                  </button>

                                  <button
                                    type="button"
                                    class="btn tp-btn btn-primary"
                                    style="color: rgb(18, 123, 162)"
                                    (click)="deleteInterction(sugg.id)"
                                  >
                                    Annuler
                                  </button>

                                  <!-- <button type="button" class="btn tp-btn-light btn-info"  style="color:rgb(18, 123, 162) ;" [disabled]="reserv.date < myDate" (click)="annulerReservation(reserv.id)">Annuler reservation</button> -->
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </ng-template>
                  </li>

                  <li class="nav-item" ngbNavItem="NewNote">
                    <a
                      class="nav-link"
                      data-toggle="tab"
                      href="#NewNote"
                      aria-expanded="false"
                      ngbNavLink
                    >
                      Évaluations
                    </a>
                    <ng-template ngbNavContent>
                      <div class="tab-pane" id="NewNote">
                        <div class="table-responsive rounded table-hover">
                          <table
                            class="table text-black card-table dataTable mb-4 table-responsive-lg dataTablesCard"
                            id="dataTable2"
                          >
                            <thead class="bg-primary">
                              <tr>
                                <th>N° Évaluation</th>
                                <th>Nom client</th>
                                <th>Prenom client</th>
                                <th>Note</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr
                                class="alert alert-dismissible border-0"
                                *ngFor="let n of notes"
                              >
                                <td>{{ n.id }}</td>
                                <td>{{ n.user.lastName }}</td>
                                <td>{{ n.user.firstName }}</td>

                                <td>
                                  <div class="comment-review star-rating">
                                    <ul>
                                      <li>
                                        <i
                                          class="fa fa-star"
                                          *ngIf="n.value >= 1"
                                        ></i>
                                      </li>
                                      <li>
                                        <i
                                          class="fa fa-star-half-empty"
                                          *ngIf="n.value > 0.5 && n.value < 1"
                                        ></i>
                                      </li>
                                      <li>
                                        <i
                                          class="fa fa-star"
                                          *ngIf="n.value >= 2"
                                        ></i>
                                      </li>
                                      <li>
                                        <i
                                          class="fa fa-star-half-empty"
                                          *ngIf="n.value > 1.5 && n.value < 2"
                                        ></i>
                                      </li>
                                      <li>
                                        <i
                                          class="fa fa-star"
                                          *ngIf="n.value >= 3"
                                        ></i>
                                      </li>
                                      <li>
                                        <i
                                          class="fa fa-star-half-empty"
                                          *ngIf="n.value > 2.5 && n.value < 3"
                                        ></i>
                                      </li>
                                      <li>
                                        <i
                                          class="fa fa-star"
                                          *ngIf="n.value >= 4"
                                        ></i>
                                      </li>
                                      <li>
                                        <i
                                          class="fa fa-star-half-empty"
                                          *ngIf="n.value > 3.5 && n.value < 4"
                                        ></i>
                                      </li>
                                      <li>
                                        <i
                                          class="fa fa-star"
                                          *ngIf="n.value >= 5"
                                        ></i>
                                      </li>
                                      <li>
                                        <i
                                          class="fa fa-star-half-empty"
                                          *ngIf="n.value > 4.5 && n.value < 5"
                                        ></i>
                                      </li>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </ng-template>
                  </li>
                </ul>
              </div>
            </div>
            <div [ngbNavOutlet]="nav" class=""></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
