<div class="content-body">
  <div class="container-fluid">
    <div class="card m-3">
      <h5 class="card-header"> Merci de Bien vouloir Repondre notre collaboratreur !</h5>

      <div class="card-body">
        <form [formGroup]="emailForm">

          <div class="form-group">
            <label>Email</label>
            <textarea cols="30" rows="10" formControlName="message" class="form-control "
                      style="border-color:rgb(166, 217, 230) ;" placeholder="Entrer votre message"></textarea>

          </div>

          <div class="text-center">
            <button class="btn btn-primary mr-1" (click)=" sendEmail()" [disabled]="emailForm.invalid">Repondre</button>
            <button class="btn btn-danger light btn-sl-sm" type="button" (click)=" returnToInteractionsList()"><span
              class="mr-2"><i class="fa fa-times" aria-hidden="true"></i></span>Annuler
            </button>

          </div>

        </form>
      </div>
    </div>
  </div>
</div>
