<div class="content-body" style="height: 5.5cm ;">

  <div class="container-fluid">
    <div class="row page-titles mx-0">
      <div class="col-sm-6 p-md-0">
        <div class="welcome-text">
          <h4>Nombre de reservations : {{n}}</h4>
        </div>
      </div>
      <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="javascript:void(0)">Talan Food</a></li>
          <li class="breadcrumb-item active"><a href="javascript:void(0)">Liste des reservations </a></li>
        </ol>
      </div>

    </div>

    <div class="card-body" style="width: 45%;margin: auto ;">
      <div class="basic-form">
        <form [formGroup]="selectDate">

          <div class="input-group mb-3">

            <input type="date" class="form-control" [value]="dateForm" formControlName="dateSelected">
            <div class="input-group-append">
              <button class="btn btn-primary" type="button"
                      (click)="fetchDateSelected()"><span class="clignote">Filtrer</span></button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<div class="content-body">
  <div class="container-fluid" style="width: 80%;">
    <ngb-accordion #acc="ngbAccordion" *ngFor="let reserv of allreservation" activeIds="ngb-panel-0">
      <ngb-panel
        title="Réservation N° {{reserv.id}}  pour le client  {{reserv.user.firstName}} {{reserv.user.lastName}}     (N° Tel {{reserv.user.phone}} )  "
        cardClass="default-accordion">
        <ng-template ngbPanelContent>
          <app-all-orders [idReservation]="reserv.id"></app-all-orders>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
</div>













