<div class="content-body">
  <div class="container-fluid" style="width: 80%;">
    <div class="row page-titles mx-0">
      <div class="col-sm-6 p-md-0">
        <div class="welcome-text">
          <h4>Liste des commandes pour la réservation N° {{idReservation}}</h4>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-responsive-lg mb-0 table-striped">
                <thead>
                <tr>
                  <th>Produit</th>
                  <th>Quantité</th>
                  <th>Prix unitaire</th>
                  <th>Prix total</th>
                </tr>
                </thead>
                <tbody id="customers">
                <tr class="btn-reveal-trigger" *ngFor="let order of orders">
                  <td class="py-2">{{order.product.name}}</td>
                  <td class="py-2">{{order.quantity}}</td>
                  <td class="py-2">{{order.product.price}} DT</td>
                  <td class="py-2">{{order.quantity * order.product.price}} DT</td>

                </tr>
                </tbody>
              </table>
              <br>
              <br>
              <div class="text-center">
                <button class="btn btn-primary mr-1" (click)=" return()">Retour</button>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>
