<div class="content-body">
  <div class="container-fluid">
    <div class="row page-titles mx-0">
      <div class="col-sm-6 p-md-0">
        <div class="welcome-text">
          <h4>Réservation des plats</h4>

        </div>
      </div>
      <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mb-5 mt-sm-0 d-flex">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="javascript:void(0)">Talan Food</a></li>
          <li class="breadcrumb-item active"><a href="javascript:void(0)">Réservation des plats</a></li>
          <br>

        </ol>
      </div>
      <div class="col-xl-12">
        <div class="card">
          <div class="card-header d-block d-flex justify-content-between">
            <h4 class="card-title" style="text-transform: inherit">Menu du {{menu.date | date: 'dd/MM/yyyy'}}</h4>
            <div class="row">
              <div class="col-sm-6 mb-sm-0 mb-3">
                <mat-form-field appearance="fill">
                  <mat-label>Sélectionner une date</mat-label>
                  <mat-select [(ngModel)]="menu.date" (ngModelChange)="onDateChange($event)">
                    <mat-option *ngFor="let menu of menus" [disabled]="menu.date < myDate"
                                [value]="menu.date">{{menu.date  | date: 'dd/MM/yyyy'}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="card-body">
            <!-- Default accordion -->
            <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
              <ngb-panel title="Salades" cardClass="default-accordion">
                <ng-template ngbPanelContent>
                  <div class="row">
                    <app-menu-item *ngFor="let salade of salades" (newItemEvent)="addProduct($event)"
                                   [item]="salade"></app-menu-item>
                  </div>
                </ng-template>
              </ngb-panel>
              <ngb-panel title="Plats" cardClass="default-accordion">
                <ng-template ngbPanelContent>
                  <div class="row">
                    <app-menu-item *ngFor="let plat of plats" (newItemEvent)="addProduct($event)"
                                   [item]="plat"></app-menu-item>
                  </div>
                </ng-template>
              </ngb-panel>
              <ngb-panel title="Garnitures" cardClass="default-accordion">
                <ng-template ngbPanelContent>
                  <div class="row">
                    <app-menu-item *ngFor="let garniture of garnitures" (newItemEvent)="addProduct($event)"
                                   [item]="garniture"></app-menu-item>
                  </div>
                </ng-template>
              </ngb-panel>
              <ngb-panel title="Desserts" cardClass="default-accordion">
                <ng-template ngbPanelContent>
                  <div class="row">
                    <app-menu-item *ngFor="let dessert of desserts" (newItemEvent)="addProduct($event)"
                                   [item]="dessert"></app-menu-item>
                  </div>
                </ng-template>
              </ngb-panel>
            </ngb-accordion>
          </div>
          <button type="button" class="btn btn-primary text-center mb-3"
                  [disabled]="!permitAddProduct || (menu.date == myDate && timeLimit)" (click)="confirm(menu.date)"
                  style="align-self: center!important; width: inherit">Confirmer <span
            class="btn-icon-right"><i class="fa fa-shopping-cart"></i></span>
          </button>
          <small style="color: #BA002B; text-align: center; padding-bottom: 1rem"
                 *ngIf="permitAddProduct && menu.date == myDate && timeLimit">La réservation pour aujourd'hui est
            impossible après 12h!</small>
        </div>
      </div>
    </div>
  </div>
</div>
