<div class="content-body">
  <div class="container-fluid">
    <div class="row page-titles mx-0">
      <div class="col-sm-6 p-md-0">
        <div class="welcome-text">
          <h4>Modification des produits</h4>

        </div>
      </div>
      <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="javascript:void(0)">Talan Food</a></li>
          <li class="breadcrumb-item active"><a href="javascript:void(0)">Modification des produits</a></li>
          <br>

        </ol>
      </div>
    </div>

    <div class="col-xl-6 col-lg-12 d-flex justify-content-center">
      <div class="new-arrivals-img-contnent">
        <img class=" myimg" [src]="product.image" alt="" style="margin-bottom: 0.5cm;">

        <form [formGroup]="editProductForm">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Nom du produit</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" maxlength="40" formControlName="name">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Description</label>
            <div class="col-sm-9">
                            <textarea type="text" class="form-control" rows="5"
                                      formControlName="description"></textarea>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Prix</label>
            <div class="col-sm-9">
              <input type="number" min="0" class="form-control" formControlName="price">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Quantité</label>
            <div class="col-sm-9">
              <input type="number" min="0" class="form-control" formControlName="quantity"><br>

            </div>
          </div>
          <div class="form-group row">
            <div class="form-group w-50 mx-auto" style="text-align: center !important;">
              <label style="cursor:pointer;text-align: center !important;" for="exampleInputAvatar"><i
                class="fas fa-images"></i> Image du produit<input type="file" style="display: none;"
                                                                  (change)="onFileSelected($event)" class="form-control"
                                                                  id="exampleInputAvatar"></label>
            </div>
          </div>
          <div class="d-flex justify-content-center">
            <img [src]="imagePreview" width="270px" height="270px" *ngIf="imagePreview">
          </div>
          <div class="form-group row">
            <div class="col-sm-12 d-flex justify-content-center">
              <button style="margin-top: 15px ;" type="submit" mat-flat-button class="mr-1 ml-1" color="primary"
                      [disabled]="(editProductForm.value.price<0 ||editProductForm.value.quantity<0 || editProductForm.invalid)"
                      (click)="updateProduct()">Confirmer
              </button>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>


<!-- <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6" >
				<ng-container style="padding: 0.2cm; "
                >
					<div class="card" style="margin: 0.5cm;"  >
					<div class="card-body" >

						<img  src="http://localhost:8090/api/products/images/Tic/Tic" height="35cm" alt="" *ngIf="quantity>0" style="position: absolute; z-index: 1;" >
						<div class="new-arrival-product">
							<div class="new-arrivals-img-contnent" >

								<img class="img-fluid" src="{{product.image}}" alt="">
							</div>
							<div class="new-arrival-content text-center mt-3">
								<h4><a (click)="showDetails(product.id)" style="font-size: 30PX;">{{product.name}}</a></h4>
								<ul class="star-rating">
									<li *ngFor="let ratings of product.ratings_class "><i
											class="{{ratings.icon_class}}"></i></li>
								</ul>
								<span class="price"> {{product.price}} DT</span>
								<br>
								<button class="btn btn-primary mb-2"
									style="margin-top: 10px; padding: 3.2% ; border-radius: 20%;font-weight:bold;" (click)="removeQuantity()">-</button>
                                    <span style="padding: 0.2cm;">{{quantity}}</span>
                                    <button class="btn btn-primary mb-2"
									style="margin-top: 10px; padding: 3% ; border-radius: 20%;font-weight:bold ;"(click)="addQuantity()"> + </button>
							</div>
						</div>
					</div>
				</div>
            </ng-container>
            </div> -->
