<div class="deznav">
  <div class="deznav-scroll" [perfectScrollbar]>
    <ul class="metismenu" id="menu" metis-menu>
      <li [ngClass]="{ 'mm-active': dashboardArray.indexOf(currentHref) > -1 }">
        <a
          class="has-arrow ai-icon"
          href="javascript:void()"
          aria-expanded="false"
        >
          <i class="fi fi-rr-croissant"></i>
          <span class="nav-text">Produits</span>
        </a>
        <ul
          aria-expanded="false"
          [ngClass]="{ 'mm-show': dashboardArray.indexOf(currentHref) > -1 }"
        >
          <li>
            <a
              [routerLink]="['/products']"
              *ngIf="role == 'USER' || role == null"
              >Réserver un produit</a
            >
          </li>
          <li>
            <a [routerLink]="['/products']" *ngIf="role == 'ADMIN'"
              >Consulter les produits</a
            >
          </li>
          <li>
            <a [routerLink]="['/admin/products']" *ngIf="role == 'ADMIN'"
              >Gestion des produits</a
            >
          </li>
        </ul>
      </li>
      <li [ngClass]="{ 'mm-active': apsArray.indexOf(currentHref) > -1 }">
        <a
          class="has-arrow ai-icon"
          href="javascript:void()"
          aria-expanded="false"
        >
          <i class="fi fi-rr-restaurant"></i>
          <span class="nav-text">Menu</span>
        </a>
        <ul aria-expanded="false">
          <li>
            <a [routerLink]="['/menu']" *ngIf="role == 'USER' || role == null"
              >Réserver un plat</a
            >
          </li>
          <li>
            <a [routerLink]="['/menu']" *ngIf="role == 'ADMIN'"
              >Consulter les menus</a
            >
          </li>
          <li>
            <a [routerLink]="['/admin/add-menu']" *ngIf="role == 'ADMIN'"
              >Gestion des menus</a
            >
          </li>
        </ul>
      </li>
      <li
        [ngClass]="{ 'mm-active': chartsArray.indexOf(currentHref) > -1 }"
        *ngIf="role != null"
      >
        <a
          class="has-arrow ai-icon"
          href="javascript:void()"
          aria-expanded="false"
        >
          <i class="fi fi-rr-users-alt"></i>
          <span class="nav-text">Intéractions</span>
        </a>
        <ul
          aria-expanded="false"
          [ngClass]="{ 'mm-show': chartsArray.indexOf(currentHref) > -1 }"
        >
          <li>
            <a [routerLink]="['/admin/showIntercation']" *ngIf="role == 'ADMIN'"
              >Gestion des intéractions</a
            >
          </li>
          <li>
            <a [routerLink]="['/addIntercation']" *ngIf="role == 'USER'"
              >Ajouter une intéraction</a
            >
          </li>
        </ul>
      </li>
      <li
        [ngClass]="{ 'mm-active': bootstrapArray.indexOf(currentHref) > -1 }"
        *ngIf="role != null"
      >
        <a
          class="has-arrow ai-icon"
          href="javascript:void()"
          aria-expanded="false"
        >
          <i class="fi fi-rr-shopping-cart-check"></i>
          <span class="nav-text">Réservation</span>
        </a>
        <ul
          aria-expanded="false"
          [ngClass]="{ 'mm-show': bootstrapArray.indexOf(currentHref) > -1 }"
        >
          <li>
            <a [routerLink]="['/admin/allreservation']" *ngIf="role == 'ADMIN'"
              >Consulter les réservations</a
            >
          </li>
          <li>
            <a [routerLink]="['/getReservationByUserId']" *ngIf="role == 'USER'"
              >Consulter vos réservations</a
            >
          </li>
        </ul>
      </li>
      <li
        [ngClass]="{ 'mm-active': bootstrapArray.indexOf(currentHref) > -1 }"
        *ngIf="role != null"
      >
        <a
          class="has-arrow ai-icon"
          href="javascript:void()"
          aria-expanded="false"
          *ngIf="role == 'ADMIN'"
        >
          <img
            src="https://th.bing.com/th/id/OIP.XehOLRS22iM6eKNIggtrygHaHa?pid=ImgDet&rs=1"
            style="height: 10%; width: 10%; margin-left: 10%; margin-right: 15%"
          />
          <span class="nav-text">Statistiques</span>
        </a>
        <ul
          aria-expanded="false"
          [ngClass]="{ 'mm-show': bootstrapArray.indexOf(currentHref) > -1 }"
        >
          <li>
            <a
              [routerLink]="['/admin/kpi/reservations']"
              *ngIf="role == 'ADMIN'"
              >Statistiques des réservations</a
            >
          </li>
          <li>
            <a [routerLink]="['/admin/kpi/incomes']" *ngIf="role == 'ADMIN'"
              >Statistiques des revenus</a
            >
          </li>
        </ul>
      </li>
    </ul>

    <div class="copyright" >
      <p>
        <strong>Talan Food </strong
        ><strong *ngIf="role == 'ADMIN'">Tableau de bord Admin</strong> © 2022
        All Rights Reserved
      </p>
      <p class="fs-12">
        Made with
        <span
          [ngClass]="{ '': toggleIcon, 'heart-blast': !toggleIcon }"
          class="heart"
          (click)="toggleLoveIcon()"
        ></span>
        by Talan Academy
      </p>
    </div>
  </div>
</div>
